.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
    display: flex;
}
ul li {
    margin-left: 30px;
} 
img {
    width: 45px;
    height: auto;
}
.bfsword {
    border: 4px solid #61dafb    
}
.chainvest {
    border: 4px solid #61fbb3
} 
.giantsbelt {
    border: 4px solid #7a7a7a
} 
.needlesslylargerod {
    border: 4px solid #e763c9  
} 
.negatroncloak {
    border: 4px solid #be8402
}
.recurvebow {
    border: 4px solid #70541d
}
.spatula {
    border: 4px solid #ffde21;
    filter: grayscale(50%);
}
.tearofthegoddess {
    border: 4px solid #12c
}